{% extends '_base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
{% if user.is_authenticated %}
<header class="content-header">
  <h1>Update Profile</h1>
  <hr><br>
</header>

<br>

<form class="form" role="form" method="post" action="">
  {{ form.csrf_token }}
  {{ form.hidden_tag() }}
  {{ wtf.form_errors(form, hiddens="only") }}

  <div class="col-lg-4 col-sm-4">
    {{ wtf.form_field(form.email) }}
    {{ wtf.form_field(form.first_name) }}
    {{ wtf.form_field(form.last_name) }}
    {{ wtf.form_field(form.callsign) }}
    {{ wtf.form_field(form.apikey) }}
    {{ wtf.form_field(form.theme) }}

    <button class="btn btn-success" type="submit">Update!</button>
    <br><br>
    <p><a href="{{ url_for('user.password_update', callsign=current_user.callsign) }}">Update Password |</a>.
      <a href="{{ url_for('user.del_user') }}">Delete Account</a>.</p>
    <b></b>
  </div>
</form>
{% endif %}
{% endblock %}
